.abilities
    overflow: hidden
    &__list
        list-style: none
    &__item
        padding: 40px 40px 40px 120px
        position: relative
        display: flex
        align-items: flex-start
        transform: translateX(-100px)
        opacity: 0
        transition: all 0.75s ease-in-out
        &.anim-active
            transform: translateX(0)
            opacity: 1
        & span
            position: absolute
            color: #edf2f7
            font-size: 100px
            font-weight: 900
            left: 30px
            top: 40px
            z-index: -1
        &:nth-child(n+10) span
            left: 0px
            
@media screen and (max-width: 600px)
    .abilities
        &__item
            padding: 20px 20px 20px 90px
        & span
            font-size: 80px
            left: 0px

@media screen and (max-width: 450px)
    .abilities
        &__list
            padding: 0
            padding-left: 10px
        &__item
                padding: 20px 10px 0px 70px
        & span
            font-size: 60px