.footer
    margin-top: 30px
    padding-bottom: 1px
    background-color: $bg-color
    &__wrapper
        display: flex
        justify-content: center
    &__item
       margin: 0 75px
    &__title
        font-weight: bold
    &__link
        display: block
        margin-bottom: 5px
    &__copyright
        text-align: center
        font-size: 12px
        margin: 20px 0
        display: block