#header-nav
    transition: all 0.5s ease-in-out
    background-color: #fff
.header
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 10px
    z-index: 20
    position: relative
    &__logo
        &-wrapper
            display: flex
            align-items: center
        &-img
            width: 75px
            height: 75px
            margin-right: 5px
        &-text
            display: flex
            flex-direction: column
        &-title
            font-family: 'Druk Cyr'
            font-style: normal
            font-weight: 500
            font-size: 50px
            color: $text-color
            letter-spacing: 2.5px
            line-height: 95%
            & span
                color: $primary
        &-description
            font-family: 'Montserrat'
            font-style: normal
            font-weight: 400
            font-size: 11px
            line-height: 100%
    &__contacts-wrapper
        display: flex
        align-items: center
    &__contacts-tel
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 400
        color: $primary
        font-size: 20px
        font-weight: 700
        margin-right: 20px
        &:hover
            color: $secondary
    &__burger
        display: none
        & svg
            width: 19px
            height: 19px
    &__btn
        width: 230px
        padding: 22px 10px
.px-20
    padding: 0 20px
.burger-close
    display: none
.burger-opened .burger-normal
    display: none
.burger-opened .burger-close
    display: block

.fixed
    position: fixed
    background-color: #fff
    width: 100%
    top: 0
    padding: 5px 0 0 0
    z-index: 10
    & .header__logo-img
        width: 40px
        height: 40px
    & .header__logo-title
        font-size: 30px
    & .header__logo-description
        font-size: 10px
    & .header__contacts-tel
        font-size: 16px

@media screen and (max-width: 1024px)
    .header
        &__contacts-tel-wrap
            display: flex
            flex-direction: column

@media screen and (max-width: 860px)
    .header
        padding-bottom: 10px
        &__logo
            &-img
                width: 50px
                height: 50px
            &-title
                font-size: 38px
            &-description
                font-size: 10px
        &__contacts-tel
            display: none
        &__btn
            display: none
    .fixed
        padding: 0
    .header__burger
        display: block
    .fixed .header__burger
        display: block

@media screen and (max-width: 600px)
    .header
        &__logo
            &-img
                width: 40px
                height: 40px
            &-title
                font-size: 32px
            &-description
                font-size: 9px

@media screen and (max-width: 375px)
    .header
        &__logo
            &-img
                width: 35px
                height: 35px
            &-title
                font-size: 24px
            &-description
                font-size: 7px