.integration
    &__text
        text-align: center
        margin-bottom: 30px
    &__list
        list-style: none
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__item
        flex-basis: 31%
        min-height: 540px
        display: flex
        flex-direction: column
        justify-content: space-between
        & img
            width: 100%
    &__text-wrapper
        padding: 10px 20px
        text-align: center
    &__link
        align-self: flex-end
